body,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: rgb(246, 199, 123);
  box-sizing: border-box;
  color: rgb(41, 37, 42);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 37, 42) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 37, 42) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

body {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

button {
  background-color: rgb(115, 84, 76);
  color: rgb(236, 232, 231);
  border: 2px solid rgb(115, 84, 76);
  min-width: 130px;
  min-height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: rgb(156, 115, 105);
  color: #ffffff;
}

button:active {
  background-color: rgb(115, 84, 76);
  color: #ffffff;
}

button.art-disabled,
button.art-disabled:hover,
button.art-disabled:active {
  opacity: 0.2;
  background-color: #ffffff;
  border-color: black;
  color: black;
  cursor: not-allowed;
}

input,
input:focus {
  width: 100%;
  background-color: rgb(52, 48, 53);
  border: 2px solid rgb(52, 48, 53);
  color: rgb(246, 199, 123);
  min-height: 40px;
  border-radius: 10px;
  outline: none;
  padding: 0 5px !important;
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
}

.arl-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  opacity: 0.4;
}

.arl-checkbox:hover {
  opacity: 0.6;
}

.arl-checkbox:active,
.arl-checkbox[data-checked="1"] {
  opacity: 1;
}

.arl-checkbox[data-checked="1"] .arl-checkbox--check-inner {
  background-color: rgb(41, 37, 42);
}

.arl-checkbox--check {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(41, 37, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.arl-checkbox--check-inner {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 3px;
}

.arl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.arl-request {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arl-request--limit-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.arl-request--params-wraper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.arl-request--params--client-id {
  width: 270px;
}

.arl-request--params--num-requests {
  text-align: right;
  width: 130px;
}

.arl-request--input {
  text-align: center;
}

.arl-request--input-label {
  text-align: center;
  opacity: 0.8;
  font-weight: bold;
  display: block;
}

.arl-request-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.arl-response {
  position: relative;
  min-height: 50px;
  width: 100%;
  background-color: rgb(41, 37, 42);
  border-radius: 10px;
  padding: 20px;
}

.arl-response:hover > .art-clear-logs {
  opacity: 1;
}

.arl-response--logs {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.art-clear-logs {
  position: absolute;
  right: -10px;
  top: -10px;
  min-width: 60px;
  min-height: 30px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}

.arl-response--loading {
  color: #ffffff;
}

.arl-response--error {
  color: rgb(223, 70, 74);
  font-weight: bold;
}

.arl-response--success {
  color: rgb(121, 203, 137);
}
